@if(email && token) {
    <div class="d-flex justify-content-center">
        <div class="col-12 col-lg-5">
            <main class="form-signin">
                <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" autocomplete="off">
                    <div class="text-center mb-4">
                            <h5 class="mb-3 fw-bold">Nhập mật khẩu mới của bạn vào đây</h5>
                    </div>
    
                    <div class="form-floating mb-3">
                        <input type="email" formControlName="email" id="email" class="form-control">
                        <label for="email">Email</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" formControlName="newPassword" id="newPassword" class="form-control"
                        [class.is-invalid]="submitted && resetPasswordForm.get('newPassword')?.errors">
                        <label for="newPassword">Mật khẩu mới</label>
                        @if (submitted && resetPasswordForm.get('newPassword')?.hasError('required')) {
                            <span class="text-danger mt-2 d-block fw-bold">Mật khẩu không được để trống</span>
                        }@else if (submitted && resetPasswordForm.get('newPassword')?.hasError('minlength') || resetPasswordForm.get('newPassword')?.hasError('maslength')) {
                            <span class="text-danger mt-2 d-block fw-bold">Mật khẩu phải ít nhất 6 ký tự và không quá 15 ký tự</span>
                        }
                    </div>
    
                    @if(errorMessages.length > 0) {
                        <div class="form-floatin">
                            <app-validation-message [errorMessage]="errorMessages"></app-validation-message>
                        </div>
                    }
    
                    <div class="row">
                        <div class="col-6">
                            <div class="d-gird">
                                <button class="btn btn-block btn-success" type="submit"> Đổi mật khẩu </button>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-gird">
                                <button class="btn btn-block btn-secondary" type="button" (click)="cancel()"> 
                                    Trở lại </button>
                            </div>
                        </div>
                    </div>
    
                </form>
            </main>
        </div>
    </div>
}