<div class="modal-header">
    <h4 class="modal-title pull-left">Update your details!</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="fs-4 fw-bold">Edit your profile to reach more friends 🔥</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="closeAndNavigate()">Let's Go</button>
  </div>