<div class="posts-container" style="width: 50%; margin: 0 auto;">
  <ng-container *ngIf="isLoading">
    <div class="loading-spinner">
      <i class="bi bi-arrow-repeat spin"></i>
      Đang tải bài viết...
    </div>
  </ng-container>
  <ng-container *ngIf="!isLoading">
    @if(posts) {
      <ng-container *ngFor="let item of posts;">
        <div class="post-card">
          <!-- Post Header -->
          <div class="post-header">
            <div class="user-info">
              <div class="profile-circle">
                <img
                  [src]="item.user.photoUrl || './assets/avatar.png'"
                  [alt]="item.user.knowAs || 'Unknown User'"
                  class="avatar"
                >
              </div>
              <div class="user-details">
                <h5 class="username">{{ item.user.knowAs || 'Unknown User' }}</h5>
                <div class="post-metadata">
                  <span class="post-time" *ngIf="item.updatedAt === null">
                    <ng-container *ngIf="(item.createdAt | timeago) === '1 day ago'; else displayDate">
                      {{ item.createdAt | date: 'short' }}
                    </ng-container>
                    <ng-template #displayDate>
                      {{ item.createdAt | timeago }}
                    </ng-template>
                  </span>
                  <span class="post-time" *ngIf="item.updatedAt !== null">
                    Chỉnh sửa lúc {{ item.updatedAt | date: 'short' }}
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- Post Content -->
          <div class="post-content">
            <p>{{ item.content }}</p>
          </div>
          <gallery [id]="'gallery-' + item.id" [items]="imagesByPost.get(item.id) || []" thumbPosition="left"></gallery>

          <!-- Like and Comment Actions -->
          <div class="post-actions" style="margin-top: 10px;">
            <button class="btn btn-sm" (click)="toggleLike(item.id)" style="margin-left: -18px;">
              <i *ngIf="isPostLiked(item.id)" style="font-size: 2rem; color: rgb(199, 0, 0);" class="bi bi-heart-fill"></i>
              <i *ngIf="!isPostLiked(item.id)" style="font-size: 2rem;" class="bi bi-heart"></i>
            </button>
            <a (click)="showListUserLikeModal(item.id)" class="fw-bold">
              <span style="color: black;">{{ likeCounts.get(item.id) || 0 }} người thích bài viết này</span>
            </a>
            <button class="btn btn-sm" (click)="showCommentModal(item.id)" style="margin-left: 10px;">
              <i style="font-size: 2rem;" class="bi bi-chat"></i>
            </button>
            <a (click)="showCommentModal(item.id)" class="fw-bold">
              <span style="color: black;">{{ commentCounts.get(item.id) || 0 }} bình luận</span>
            </a>
          </div>

        </div>
      </ng-container>
    } @else {
      <div class="no-posts">
        <i class="bi bi-journal-x"></i>
        Không có bài viết để hiển thị
      </div>
    }
    <!-- Thông báo khi đến cuối danh sách -->
    <div class="end-of-posts" *ngIf="reachedEnd">
      <p class="text-center fs-4">Bạn đã xem hết bài viết của bạn bè, hãy thêm bạn để xem thêm bài viết</p>
      <p class="text-center"><i style="font-size: 2rem;" class="bi bi-clock-history"></i></p>
    </div>
  </ng-container>
</div>
