<section class="h-100 gradient-custom-2">
  <div class="container h-100">
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-9 col-xl-8">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row position-relative" style="background-color: #000; height: 200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img [src]="member.photoUrl || './assets/avatar.png'" 
                   alt="Generic placeholder image" 
                   class="img-fluid img-thumbnail mt-4 mb-2">
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5 class="profile-name">{{member.knowAs}}
                <span class="active-status" style="color: rgb(5, 106, 0);" *ngIf="friendshipStatus === FriendshipStatus.ACCEPTED && member.lastActive">
                  (Active <b>{{capitalize(member.lastActive | timeago)}})</b>
                </span>
              </h5>
              <h6 class="full-name">{{member.firstName}} {{member.lastName}}</h6>
              <div class="location" *ngIf="member.cityName || member.stateName || member.countryName">
                <i class="bi bi-geo-alt-fill"></i>
                <span>{{member.cityName}} - {{member.stateName}} - {{member.countryName}}</span>
              </div>

              <!-- Đoạn mã mới ở đây -->
            <div class="position-absolute" style="top: 0; right: 0;">
              <div class="p-4">
                <div class="d-flex justify-content-end text-center py-1 text-body">
                  <div>
                    <p class="mb-1 text-white">{{images.length}}</p>
                    <p class="small mb-0 text-white">Photos</p>
                  </div>
                  <div class="px-3">
                    <p class="mb-1 text-white">{{countFriend}}</p>
                    <p class="small mb-0 text-white">Friends</p>
                  </div>
                </div>
              </div>
            </div>

            </div>
          </div>
          
          <div class="card-body p-4 text-black">
            <div class="mb-5 text-body">
              <tabset class="member-tabset">
                <tab heading="Introduction">
                  <div class="intro-section">
                    <div class="info-block" *ngIf="member.introduction">
                      <h3>About me</h3>
                      <p>{{member.introduction}}</p>
                    </div>

                    <div class="info-block" *ngIf="member.lookingFor">
                      <h3>Looking for</h3>
                      <p>{{member.lookingFor}}</p>
                    </div>

                    <div class="info-block" *ngIf="member.interests && member.interests.length > 0">
                      <h3>Interests</h3>
                      <div class="interests-list">
                        <span class="interest-tag" *ngFor="let interest of member.interests">
                          {{interest.name}}
                        </span>
                      </div>
                    </div>

                    <div class="info-block">
                      <h3>Basic Information</h3>
                      <div class="basic-info">
                        <div class="info-row" *ngIf="member.age">
                          <span class="label">Age</span>
                          <span class="value">{{member.age}}</span>
                        </div>
                        <div class="info-row" *ngIf="member.dateCreated">
                          <span class="label">Member since</span>
                          <span class="value">{{member.dateCreated | date: 'mediumDate'}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </tab>

                <tab heading="Photos">
                  <div class="photos-grid">
                    <div class="photo-item" *ngFor="let image of images; let i = index" 
                         [lightbox]="i" [gallery]="galleryId">
                      <img [src]="image.data?.thumb" [alt]="'Photo ' + (i + 1)">
                    </div>
                  </div>
                </tab>

                <tab #photoTab="tab" heading="Post" (selectTab)="onTabActivated($event)">
                  <app-list-post-member [member]="member" [photoTab]="photoTab"></app-list-post-member>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>