<div class="container">
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Search by Known As or Email" [(ngModel)]="searchTerm"
      (input)="onSearch()" />
  </div>
  <div *ngIf="users.length > 0" class="table-responsive shadow-sm p-3 mb-5 bg-body rounded">
    <table class="table table-hover table-bordered">
      <thead class="table-dark text-center">
        <tr>
          <th scope="col">Known As</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">config</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td>{{ user.knowAs }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            @if (user.accountLocked === true) {
            <button class="btn btn-sm btn-success" (click)="unlockAccount(user.id)">
              UNLOCK <i class="bi bi-unlock"></i>
            </button>
            }@else {
            <button class="btn btn-sm btn-warning" (click)="lockAccount(user.id)">
              LOCK <i class="bi bi-lock"></i>
            </button>
            }

            <button class="btn btn-sm mx-3" style="background: linear-gradient(
              135deg,
              #6366f1 0%,
              #8b5cf6 100%); 
              color:  white;"
              (click)="navigateToUserPosts(user.id)">List post</button>
          </td>

        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-center mt-4">
      <pagination [boundaryLinks]="true" [totalItems]="totalElements" [itemsPerPage]="pageSize"
        (pageChanged)="onPageChanged($event)" [maxSize]="10" previousText="&lsaquo;" nextText="&rsaquo;"
        firstText="&laquo;" lastText="&raquo;">
      </pagination>
    </div>
  </div>
</div>